.form{
    min-width: 500px;
}
.form-header{
    font-size: 1.5rem;
    margin:20px auto;
}

.form-submit{
    margin:20px auto;
}
.form-link{
    cursor: pointer;
    color: #ff2c1f;
    padding: 0 10px;
}
@media screen and (max-width: 992px){
    .form{
        min-width: 400px;
    }
}