
.form-header{
    font-size: 1.5rem;
    color:var(--primary-color);
    margin:20px auto;
}

.form-submit{
    margin:20px auto;
}
.form-link{
    cursor: pointer;
    color: #ff2c1f;
    padding: 0 10px;
}
